.product-card {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.product-info {
    border-top: 1px solid #E1E1E1;
    padding-top: 15px;
    margin-top: 15px;
}

.product-name {
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-price-container{
    display: flex;
}

.product-currency {
    padding-top: 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;

color: #9E9E9E;
}

.product-price {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #407BFF;

}